body{
    background-color: #e3f2fd;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    color: #2c3e50;
    margin: 0;
    padding: 0;
}

.box{
    background-color: #ffffff;
    width: 70%;
    margin-left: 200px;
    margin-top: 120px;
    border-radius: 20px;
    padding: 40px;
    border: 3px solid #bbdefb;
}

h1{
    color: #1565c0;
    font-size: 2.5em;
    margin-bottom: 10px;
}

h2{
    color: #1976d2;
    margin-bottom: 20px;
}

p{
    color: #424242;
    margin-bottom: 30px;
    font-style: italic;
}

.btn{
    background-color: #1565c0;
    color: white;
    padding: 12px 25px;
    border-radius: 10px;
    text-decoration: none;
     font-weight: bold;
}

.btn:hover{
    background-color: #64adf6;
    color: black;
    cursor: pointer;
}